* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header {
    height: 80px;
    width: 70%;
    background-color: blue;
    border-radius: 10px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 10px;
    width: 80px;
}
.fa-solid {
    color: blue;
}
.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
.container {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: fit-content;
}
.sidebar {
    width: 40%;
    background-color: #eee;
    margin-left: 20px;
    margin-right: -15px;
    padding: 15px;
    text-align: center;
}
.head {
    background-color: blue;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    align-items: center;
}
.foot {
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box {
    display : flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 15px;
}
.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h1 {
    position: relative;
    top: -15px;
    font-size: 20px;;
}
h2 {
    font-size: 20px;
    color: red;
}
button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 10px;
    background-color: blue;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
.clear {
    background-color: red;
}
button:hover {
    background-color: #333;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 10px;
    margin: 10px 10px;
}
.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover {
    cursor: pointer;
    color: red;
}
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
.popup .content {
    position: absolute;
    top: 50%;
    left: 180%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 300px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .close-btn {
    cursor: pointer;
    position: relative;
    right: -395px;
    top: -15px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
.popup {
    width: 100%;
    position: relative;
}